*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-color:  #191A23;
  --secondary-color: #2C2D3C;
  --tags-bg-color: #292A35;
  --Text-color: #eeeffc;
  --Text-color-focus: #5256BD;
  --Text-font-main: sans-serif; 
}

body{
  display: flex;
}

.tags-interface{
  background-color: var(--main-color);
  border-right: var(--secondary-color) 2px solid;
  font-family: var(--Text-font-main);
  color: var(--Text-color);
  width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tags-interface h2{
  padding: 20px 0px;
}

.tags{
  background-color: var(--main-color);
height: 100%;
  width: 220px; 
 padding-top: 80px;
 padding-left: 15px;
}

.tag{
  border: var(--tags-bg-color) solid 2px;
  color: var(--Text-color);
  font-family: var(--Text-font-main);
  border-radius: 15%;
  display: inline-block;
  height: 30px;
  padding: 4px 6px;
  margin: 5px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease
}

.tag:hover{
  background-color: var(--tags-bg-color);
  color: var(--Text-color-focus);
}

.searcher{
  background-color: var(--main-color);
  border-bottom: var(--tags-bg-color) solid 2px;;
  height: 60px;
  width: 100%;
}

.main{
  background-color: var(--main-color);
  width: 100%;
  min-height: 100%;
}